.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #000133;
}

.header,
.footer {
  background: #00022e;
  height: 5rem;
  color: #fc86aa;
}

.container {
  display: flex;
  flex: 1;
}

.drawer {
  margin: auto;
  background: #d8dcd6;
  width: 20rem;
  height: 85vh;
}

.main {
  flex: 1;
  background: #f7f5f5;
}